body { font-size: 140%; }
    div.DTTT { margin-bottom: 0.5em; float: right; }
    div.dataTables_wrapper { clear: both; }
.barra
{
    margin: 20px;
}
.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.container{
	border: 5px solid #00419C;
	border-radius: 15px;
	/*box-shadow: 15px 15px 5px grey;*/
}

.container.banner{
	border: none;
	border-radius: none;
	box-shadow: none;
	image: url(../img/logoubb.png);
	padding: 0px;
	margin-bottom: 1em;	
}

.imagen-banner{

	/*border: 5px solid #00419C;
	border-radius: 2em 0em 2em 0em;
	box-shadow: 8px 8px 3px grey;*/
}

.container-fluid{
	background-image: url(../img/BACKGROUND.jpg);
	background-size: cover;
	 -moz-background-size: cover;
	 -webkit-background-size: cover;
	 -o-background-size: cover;
	 min-height: 768px;
	 padding-top: 1em;
}


#contenedor_body{
	border: 15px solid #00419C;
	box-shadow: 15px 15px 5px grey;
	border-radius: 15px;
}

#main{
	border: 5px solid #00419C;
	background: none;
	box-shadow: 15px 15px 5px grey;
	border-radius: 15px;
}

.no_resize{
	resize:none;
}

.table {
  border: 1px solid grey;
}

.CarouselImg{
  width: 100%;
  height: 425px;
  max-height: 425px;
}


.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid grey;
}